<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    <title>메이플 한줄뎀 계산기</title>
    <style>
        #checkboxForm {
            display: flex;
            flex-wrap: wrap;
        }
        #checkboxForm label {
            width: 30%;
            margin-bottom: 10px;
        }
        #dropdownForm {
            display: flex;
            flex-wrap: wrap;
        }
        #dropdownForm label {
            width: 10%;
            margin-bottom: 10px;
        }
        #dropdownForm select {
            width: 10%;
            margin-bottom: 10px;
            margin-right: 20px;
        }
        #inputForm {
            display: flex;
            flex-wrap: wrap;
        }
        #inputForm label {
            width: 20%;
            margin-bottom: 10px;
        }
        #inputForm input {
            width: 10%;
            margin-bottom: 10px;
            margin-right: 20px;
        }
        #headerForm {
            display: flex;
            flex-wrap: wrap;
        }
        #headerForm label{
            width: 10%;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: x-large;
        }
        #headerForm p{
            width: 15%;
            margin-bottom: 10px;
        }
        #name{
            font-size: larger;
            font-weight: bold;
            margin-bottom: 10px;
            display: inline-block;
        }
        #data-container {
            display: grid;
            grid-template-columns: repeat(3, 5fr);
            gap: 10px;
        }
        #data-container .item{
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
        }
        .input-box { 
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <h2>캐릭터 이름 입력</h2>
    <input type="text" id="nameInput" name="nameInput">
    <label for="combatOrders"> 쓸컴뱃 사용 체크 (사용시 체크)</label>
    <input type="checkbox" id="combatOrders" name="combatOrders"> <br>
    <button type="button" onclick="submitCharactername()">제출</button>
    <h2>현재 캐릭터 스펙</h2>
    <label id="name">

    </label>
    <div class="container" id="data-container">

    </div>
    <label id="time">

    </label>
    <h2>도핑 선택</h2>
    <label for="dopingcheck"> 도핑 적용된 스펙으로 보기 (사용시 체크)</label>
    <input type="checkbox" id="dopingcheck" name="dopingcheck" onchange="update_spec()"> <br>
    <form id="checkboxForm">
        <label><input type="checkbox" name="doping" value="보스 킬링 머신"> 보스 킬링 머신</label><br>
        <label><input type="checkbox" name="doping" value="방어력은 숫자일 뿐"> 방어력은 숫자일 뿐</label><br>
        <label><input type="checkbox" name="doping" value="길드의 이름으로"> 길드의 이름으로</label><br>
        <label><input type="checkbox" name="doping" value="크게 한방"> 크게 한방</label><br>
        <label><input type="checkbox" name="doping" value="향상된 10단계 힘의 물약"> 향상된 10단계 힘의 물약</label><br>
        <label><input type="checkbox" name="doping" value="향상된 10단계 민첩의 물약"> 향상된 10단계 민첩의 물약</label><br>
        <label><input type="checkbox" name="doping" value="향상된 10단계 지능의 물약"> 향상된 10단계 지능의 물약</label><br>
        <label><input type="checkbox" name="doping" value="향상된 10단계 행운의 물약"> 향상된 10단계 행운의 물약</label><br>
        <label><input type="checkbox" name="doping" value="와헌"> 와헌</label><br>
        <label><input type="checkbox" name="doping" value="찐어블"> 찐어블</label><br>
        <label><input type="checkbox" name="doping" value="쓸어블"> 쓸어블</label><br>
        <label><input type="checkbox" name="doping" value="찐샾"> 찐샾</label><br>
        <label><input type="checkbox" name="doping" value="쓸샾"> 쓸샾</label><br>
        <label><input type="checkbox" name="doping" value="영메"> 영메</label><br>
        <label><input type="checkbox" name="doping" value="유니온의 힘"> 유니온의 힘</label><br>
        <label><input type="checkbox" name="doping" value="mvp 슈퍼파워"> mvp 슈퍼파워</label><br>
        <label><input type="checkbox" name="doping" value="우뿌"> 우뿌</label><br>
        <label><input type="checkbox" name="doping" value="붕뿌"> 붕뿌</label><br>
        <label><input type="checkbox" name="doping" value="인기도 버프(250)"> 인기도 버프(250)</label><br>
        <label><input type="checkbox" name="doping" value="인기도 버프(275)"> 인기도 버프(275)</label><br>
        <label><input type="checkbox" name="doping" value="길축"> 길축</label><br>
        <label><input type="checkbox" name="doping" value="길더축"> 길더축</label><br>
        <label><input type="checkbox" name="doping" value="반황별"> 반황별</label><br>
        <label><input type="checkbox" name="doping" value="반빨별"> 반빨별</label><br>
        <label><input type="checkbox" name="doping" value="반파별"> 반파별</label><br>
        <label><input type="checkbox" name="doping" value="고급 보스 킬러의 비약"> 고급 보스 킬러의 비약</label><br>
        <label><input type="checkbox" name="doping" value="고급 대영웅의 비약"> 고급 대영웅의 비약</label><br>
        <label><input type="checkbox" name="doping" value="고급 관통의 비약"> 고급 관통의 비약</label><br>
        <label><input type="checkbox" name="doping" value="고급 대축복의 비약"> 고급 대축복의 비약</label><br>
        <label><input type="checkbox" name="doping" value="전설의 영웅 비약"> 전설의 영웅 비약</label><br>
        <label><input type="checkbox" name="doping" value="전설의 축복 비약"> 전설의 축복 비약</label><br>
        <label><input type="checkbox" name="doping" value="전설의 체력 비약"> 전설의 체력 비약</label><br>
        <label><input type="checkbox" name="doping" value="전설의 마나 비약"> 전설의 마나 비약</label><br>
        <label><input type="checkbox" name="doping" value="익스트림 레드"> 익스트림 레드</label><br>
        <label><input type="checkbox" name="doping" value="익스트림 블루"> 익스트림 블루</label><br>
        <label><input type="checkbox" name="doping" value="VIP 버프"> VIP 버프</label><br>
        <label><input type="checkbox" name="doping" value="아기 용의 이유식"> 아기 용의 이유식</label><br>
        <label><input type="checkbox" name="doping" value="무기 제련"> 무기 제련</label><br>
        <label><input type="checkbox" name="doping" value="고급 무기 제련"> 고급 무기 제련</label><br> 
        <label><input type="checkbox" name="doping" value="세이람의 영약"> 세이람의 영약</label><br> 

    </form>
    <!-- <h2>Change spec</h2>
    <div id="equipment-container">
    <button onclick="addInputField()">Add Input Field</button>
    </div>
    <button onclick="submit_equipment()"> Submit</button> 구현중,,, -->   
    <h2>맵 선택</h2>
    <form id="dropdownForm">
    <label for="force_type"> 포스 종류:</label>
        <select id="force_type" name="force_type" onchange="update_map_region()">
            <option value="arcane">아케인포스</option>
            <option value="authentic">어센틱포스</option>
        </select>
    
        <label for="map_region"> 지역:</label>
        <select id="map_region" name="map_region" onchange="update_map_name()" disabled>
            
        </select>

        <label for="map_name"> 맵 이름:</label>
        <select id="map_name" name="map_name" disabled>
            
        </select>
    </form> 
    <h2>스킬 스펙 입력 (모든 기본값은 0)</h2>
    <form id="inputForm">
        <label for="skill_damage"> 뎀퍼%/100 (패시브, 하이퍼 등 효과 포함):</label>
        <input type="text" id="skill_damage" name="skill_damage"> 
        <label for="attack_count"> 공격 횟수 (하이퍼 포함):</label>
        <input type="text" id="attack_count" name="attack_count"> 
        <label for="hyper_damage"> 스킬 데미지 증가 (70% 증가면 0.7):</label>
        <input type="text" id="hyper_damage" name="hyper_damage"> <br>
        <label for="core_reinforce"> 코어 강화 (ex 1.2):</label>
        <input type="text" id="core_reinforce" name="core_reinforce">
        <label for="core_ignore_monster_armor"> 코강 방무 (ex 0.2):</label>
        <input type="text" id="core_ignore_monster_armor" name="core_ignore_monster_armor"> 
        <label for="skill_ignore_monster_armor"> 스킬 방무 (ex 0.2):</label>
        <input type="text" id="skill_ignore_monster_armor" name="skill_ignore_monster_armor">
        <label for="skill_final_damage"> 스킬 최종뎀 (ex 쉐파 0.7):</label>
        <input type="text" id="skill_final_damage" name="skill_final_damage">
        <label for="skill_noraml_damage"> 스킬 일몹뎀 (ex 솔야누스 만렙 0.3):</label>
        <input type="text" id="skill_normal_damage" name="skill_normal_damage">
    </form>
    <h2>Select mode</h2>
    <form id="dropdownForm">
        <label for="mode"> 몬스터 종류:</label>
        <select id="mode" name="mode">
            <option value="normal">일반 몬스터</option>
            <option value="boss">보스 몬스터</option>
        </select>
    </form>
    <button type="button" onclick="submitForm()">제출</button>
    <form id="headerForm">
    <label>한줄뎀:</label>
    <p id="old"></p>
    <label>전체 데미지:</label>
    <p id="fd"></p>
    <label>몹 체력:</label>
    <p id="hp"></p>
    </form> 
    <script>
        let formCounter=0;
        function addInputField(){
            formCounter++;
            const newInputBox = document.createElement('div');
            newInputBox.classList.add('input-box');
            newInputBox.innerHTML=`
                <div id="spec-container${formCounter}">
                    <label for="input${formCounter}"> 옵션 선택 :</label>
                    <select id="option-type${formCounter}" name="option-type${formCounter}" onchange="load_optionform(${formCounter})">
                        <option value="none">---select---</option>
                        <option value="starforce">스타포스</option>
                        <option value="chuu">추옵</option>
                    </select>
                </div>
            `;
            document.getElementById('equipment-container').appendChild(newInputBox)
        }
        function load_optionform(cnt){
            const option_name = document.getElementById("option-type" + cnt.toString()).value
            const existingForm = document.getElementById(`extra-options${cnt}`);
            if (existingForm) {
                existingForm.remove(); // 기존 폼 삭제
            }
            if (option_name==="starforce"){
                const cacheHTML=document.getElementById('spec-container'+cnt.toString()).innerHTML
                const addHTML=`
                <div id="extra-options${cnt}">
                    <label>부위</label>
                    <select id="equipment-type${formCounter}" name="equipment-type${formCounter}">
                        <option value="none">---select---</option>
                        <option value="모자">모자</option>
                        <option value="얼굴장식">얼굴장식</option>
                        <option value="눈장식">눈장식</option>
                        <option value="귀고리">귀고리</option>
                        <option value="상의">상의</option>
                        <option value="하의">하의</option>
                        <option value="신발">신발</option>
                        <option value="장갑">장갑</option>
                        <option value="망토">망토</option>
                        <option value="보조무기">보조무기</option>
                        <option value="무기">무기</option>
                        <option value="반지1">반지1</option>
                        <option value="반지2">반지2</option>
                        <option value="반지3">반지3</option>
                        <option value="반지4">반지4</option>
                        <option value="펜던트1">펜던트1</option>
                        <option value="펜던트2">펜턴트2</option>
                        <option value="벨트">벨트</option>
                        <option value="어깨장식">어깨장식</option>
                        <option value="포켓 아이템">포켓 아이템</option>
                        <option value="기계 심장">기계 심장</option>
                    </select>
                    <label for="starforce_amt${cnt}"> 스타포스</label>
                    <input type="text" id="starforce_amt${cnt}" name="starforce_amt${cnt}">
                    </div>
                `
                document.getElementById('spec-container'+cnt.toString()).insertAdjacentHTML('beforeend', addHTML)
            }
            else if (option_name==="chuu"){
                console.log(cnt+1)
            }
        }
        function update_spec(){
            const json_dict={
                "str" : "STR",
                "str_wo_rate" : "STR(% 미적용)",
                "str_rate" : "STR%",
                "dex" : "DEX",
                "dex_wo_rate" : "DEX(% 미적용)",
                "dex_rate" : "DEX%",
                "int" : "INT",
                "int_wo_rate" : "INT(% 미적용)",
                "int_rate" : "INT%",
                "luk" : "LUK",
                "luk_wo_rate" : "LUK(% 미적용)",
                "luk_rate" : "LUK%",
                "max_hp" : "최대 HP",
                "max_hp_wo_rate" : "최대 HP(% 미적용)",
                "max_hp_rate" : "최대 HP%",
                "attack_power" : "공격력",
                "attack_power_wo_rate" : "공격력(% 미적용)",
                "attack_power_rate" : "공격력%",
                "magic_power" : "마력",
                "magic_power_wo_rate" : "마력(% 미적용)",
                "magic_power_rate" : "마력%",
                "ignore_monster_armor" : "방무(%)",
                "boss_damage" : "보공(%)",
                "damage" : "데미지(%)",
                "normal_damage" : "일몹뎀(%)",
                "critical_rate" : "크확(%)",
                "critical_damage" : "크뎀(%)",
                "final_damage" : "최종뎀(%)",
                "buff" : "벞지(%)",
                "insight" : "내성 무시(%)",
                "starforce" : "스타포스",
                "arcane_force" : "아케인포스",
                "authentic_force" : "어센틱포스"  
            };
            const dopingcheck = document.getElementById('dopingcheck').checked ? 'spec_w_doping' : 'spec_final';
            const storedData=JSON.parse(localStorage.getItem(dopingcheck))
            if(dopingcheck==="spec_w_doping" && storedData===null){
                alert("도핑을 클릭하고 한줄데미지를 먼저 계산해주세요.")
                document.getElementById('dopingcheck').checked=false;
            }
            else{
                const name=document.getElementById('name');
                name.innerHTML=`이름 : ${storedData["name"]}`;
                const container = document.getElementById('data-container');
                container.innerHTML='';
                for (const key in json_dict){
                    const value = storedData[key];
                    const itemDiv=document.createElement('div');
                    itemDiv.classList.add('item');
                    itemDiv.innerHTML = `<span class="label"> ${json_dict[key]}:<span> ${value}`;
                    container.appendChild(itemDiv);
                }
                const time = document.getElementById("time");
                time.innerHTML=`최종 업데이트 시간 : ${localStorage.getItem('time')}`
            }
        }
        update_spec()
        function update_map_region(){
            const force_type = document.getElementById('force_type');
            const map_region = document.getElementById('map_region');
            map_region.innerHTML='';
            if (force_type.value === 'arcane'){
                const options= ['--select--', '소멸의 여로', '리버스 시티', '츄츄 아일랜드', '얌얌 아일랜드', '레헬른', '아르카나', '모라스', '에스페라', '셀라스', '문브릿지', '고통의 미궁', '리멘'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_region.appendChild(opt);
                })
            }
            else if (force_type.value === 'authentic'){
                const options= ['--select--', '세르니움', '호텔 아르크스', '오디움', '도원경', '아르테리아', '카르시온'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_region.appendChild(opt);
                })
            }
            map_region.disabled=false;
            const map_name = document.getElementById('map_name');
            map_name.innerHTML='';
            map_name.disabled=true;
        }
        function update_map_name(){
            const map_region = document.getElementById('map_region');
            const map_name = document.getElementById('map_name');

            map_name.innerHTML='';

            if (map_region.value === '소멸의 여로'){
                const options= ['풍화된 기쁨의 땅', '풍화된 기쁨과 분노의 땅', '풍화된 분노의 땅', '풍화된 분노와 슬픔의 땅', '풍화된 슬픔의 땅', '풍화된 슬픔과 즐거움의 땅', '풍화된 즐거움의 땅', '숨겨진 호숫가', '암석의 영토', '암석과 화염의 영토', '화염의 영토', '화염과 영혼의 영토', '영혼의 영토', '숨겨진 화염지대', '세 갈래길1', '동굴의 서쪽길1', '동굴의 서쪽길2', '동굴의 동쪽길1', '동굴의 동쪽길2', '세 갈래길2', '동굴 위쪽', '동굴 아래쪽', '동굴의 깊숙한 곳', '아르마의 은신처', '숨겨진 동굴'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '리버스 시티'){
                const options= ['지하선로1', '지하선로2', '지하선로3', '지하선로4', '지하선로5', '지하선로6', 'T-boy의 연구열차1', 'T-boy의 연구열차2', 'T-boy의 연구열차3', '숨겨진 연구열차', '지하열차1', '지하열차2', '지하열차3', '지상열차1', '지상열차2', '지상열차3', '숨겨진 지하열차', 'M타워2', 'M타워3', 'M타워4', '숨겨진 M타워'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '츄츄 아일랜드'){
                const options= ['폭포 아래', '격류지대 3', '격류지대 2', '격류지대 1', '츄츄빌리지 입구', '동산 입구', '알록달록 숲지대1', '알록달록 숲지대2', '알록달록 숲지대3', '오색동산 깊은 곳', '길쭉 동글숲1', '길쭉 동글숲2', '몽땅 동글숲1', '몽땅 동글숲2', '츄릅포레스트 깊은 곳', '고래산 초입', '고래산 중턱1', '고래산 정상', '고래산 중턱2', '거대한 꼬리'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '얌얌 아일랜드'){
                const options= ['머쉬버드 숲1', '머쉬버드 숲2', '머쉬버드 숲3', '머쉬버드 숲4', '머쉬버드 숲5', '머쉬버드 숲6', '일리야드 들판1', '일리야드 들판2', '일리야드 들판3', '일리야드 들판4', '일리야드 들판5', '일리야드 들판6', '펑고스 숲1', '펑고스 숲2', '펑고스 숲3', '펑고스 숲4', '펑고스 숲5', '펑고스 숲6', '숨겨진 머쉬버드 숲', '숨겨진 일리야드 들판', '숨겨진 펑고스 숲'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '레헬른'){
                const options= ['무법자들의 거리1', '무법자들의 거리2', '무법자들의 거리3', '닭이 뛰노는 곳1', '닭이 뛰노는 곳2', '닭이 뛰노는 곳3', '우승 접시의 거리1', '우승 접시의 거리2', '본색을 드러내는 곳1', '본색을 드러내는 곳2', '본색을 드러내는 곳3', '춤추는 구두 점령지1', '춤추는 구두 점령지2', '악몽의 시계탑 1층', '악몽의 시계탑 2층', '악몽의 시계탑 3층', '악몽의 시계탑 4층', '악몽의 시계탑 5층'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '아르카나'){
                const options= ['물의 숲', '햇살의 숲', '물과 햇살의 숲', '흙의 숲', '햇살과 흙의 숲', '서리구름의 숲', '번개구름의 숲', '서리와 번개의 숲1', '서리와 번개의 숲2', '맹독의 숲', '폭발의 숲', '맹독과 폭발의 숲1', '맹독과 폭발의 숲2', '동굴 윗길', '동굴 윗길 깊은 곳 1', '동굴 윗길 깊은 곳 2', '동굴 윗길 깊디 깊은 곳', '동굴 아랫길', '동굴 아랫길 깊은 곳 1', '동굴 아랫길 깊은 곳 2', '동굴 아랫길 깊디 깊은 곳', '다섯 갈래 동굴', '다섯 갈래 동굴 윗길', '다섯 갈래 동굴 사잇길', '다섯 갈래 동굴 아랫길', '정령의 나무 밑 동굴'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '모라스'){
                const options= ['산호 숲으로 가는 길2', '산호 숲으로 가는 길3', '산호 숲으로 가는 길4', '도둑고양이 출몰지', '도둑고양이 출몰지2', '형님들 구역', '형님들 구역2', '형님들 구역3', '그림자가 춤추는 곳2', '그림자가 춤추는 곳3', '그림자가 춤추는 곳4', '폐쇄구역', '폐쇄구역2', '폐쇄구역3', '그날의 트뤼에페2', '그날의 트뤼에페3', '그날의 트뤼에페4'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '에스페라'){
                const options= ['생명이 시작되는 곳2', '생명이 시작되는 곳3', '생명이 시작되는 곳4', '생명이 시작되는 곳5', '생명이 시작되는 곳6', '생명이 시작되는 곳7', '거울빛에 물든 바다2', '거울빛에 물든 바다3', '거울빛에 물든 바다4', '거울빛에 물든 바다5', '거울빛에 물든 바다6', '거울빛에 물든 바다7', '거울에 비친 빛의 신전2', '거울에 비친 빛의 신전3', '거울에 비친 빛의 신전4'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '셀라스'){
                const options= ['빛이 마지막으로 닿는 곳 1', '빛이 마지막으로 닿는 곳 2', '빛이 마지막으로 닿는 곳 3', '빛이 마지막으로 닿는 곳 4', '빛이 마지막으로 닿는 곳 5', '빛이 마지막으로 닿는 곳 6', '빛이 마지막으로 닿는 곳 7', '빛이 마지막으로 닿는 곳 8', '빛이 마지막으로 닿는 곳 9', '끝없이 추락하는 심해 1', '끝없이 추락하는 심해 2', '끝없이 추락하는 심해 3', '끝없이 추락하는 심해 4', '끝없이 추락하는 심해 5', '끝없이 추락하는 심해 6', '별이 삼켜진 심해 1', '별이 삼켜진 심해 2', '별이 삼켜진 심해 3', '별이 삼켜진 심해 4', '별이 삼켜진 심해 5', '별이 삼켜진 심해 6'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '문브릿지'){
                const options= ['사상의 경계1', '사상의 경계2', '사상의 경계3', '사상의 경계4', '사상의 경계5', '사상의 경계6', '미지의 안개1', '미지의 안개2', '미지의 안개3', '미지의 안개4', '미지의 안개5', '미지의 안개6', '공허의 파도1', '공허의 파도2', '공허의 파도3', '공허의 파도4', '공허의 파도5', '공허의 파도6'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '고통의 미궁'){
                const options= ['고통의 미궁 내부1', '고통의 미궁 내부2', '고통의 미궁 내부3', '고통의 미궁 내부4', '고통의 미궁 내부5', '고통의 미궁 내부6', '고통의 미궁 중심부1', '고통의 미궁 중심부2', '고통의 미궁 중심부3', '고통의 미궁 중심부4', '고통의 미궁 중심부5', '고통의 미궁 중심부6', '고통의 미궁 중심부7', '고통의 미궁 최심부1', '고통의 미궁 최심부2', '고통의 미궁 최심부3', '고통의 미궁 최심부4', '고통의 미궁 최심부5', '고통의 미궁 최심부6'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '리멘'){
                const options= ['세계의 눈물 하단1', '세계의 눈물 하단2', '세계의 눈물 하단3', '세계의 눈물 중단1', '세계의 눈물 중단2', '세계의 눈물 중단3', '세계의 눈물 중단4', '세계가 끝나는 곳 1-4', '세계가 끝나는 곳 1-5', '세계가 끝나는 곳 1-6', '세계가 끝나는 곳 1-7', '세계가 끝나는 곳 1-8', '세계가 끝나는 곳 1-9', '세계가 끝나는 곳 2-2', '세계가 끝나는 곳 2-3', '세계가 끝나는 곳 2-4', '세계가 끝나는 곳 2-5', '세계가 끝나는 곳 2-6', '세계가 끝나는 곳 2-7', '세계가 끝나는 곳 2-8'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '세르니움'){
                const options= ['해변 암석지대 1', '해변 암석지대 2', '해변 암석지대 3', '해변 암석지대 4', '세르니움 서쪽 성벽 1', '세르니움 서쪽 성벽 2', '세르니움 서쪽 성벽 3', '왕립 도서관 제1구역', '왕립 도서관 제2구역', '왕립 도서관 제3구역', '왕립 도서관 제4구역', '왕립 도서관 제5구역', '왕립 도서관 제6구역', '세르니움 동쪽 성벽 1', '세르니움 동쪽 성벽 2', '세르니움 동쪽 성벽 3', '불타는 왕립 도서관 제1구역', '불타는 왕립 도서관 제2구역', '불타는 왕립 도서관 제3구역', '불타는 왕립 도서관 제4구역', '불타는 왕립 도서관 제5구역', '불타는 왕립 도서관 제6구역', '격전의 서쪽 성벽 1', '격전의 서쪽 성벽 2', '격전의 서쪽 성벽 3', '격전의 서쪽 성벽 4', '격전의 동쪽 성벽 1', '격전의 동쪽 성벽 2', '격전의 동쪽 성벽 3', '격전의 동쪽 성벽 4', '격전의 동쪽 성벽 5', '격전의 동쪽 성벽 6'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '호텔 아르크스'){
                const options= ['무법자들이 지배하는 황야1', '무법자들이 지배하는 황야2', '무법자들이 지배하는 황야3', '무법자들이 지배하는 황야4', '낭만이 저무는 자동차 극장1', '낭만이 저무는 자동차 극장2', '낭만이 저무는 자동차 극장3', '낭만이 저무는 자동차 극장4', '낭만이 저무는 자동차 극장5', '낭만이 저무는 자동차 극장6', '종착지 없는 횡단열차1', '종착지 없는 횡단열차2', '종착지 없는 횡단열차3', '종착지 없는 횡단열차4', '종착지 없는 횡단열차5', '종착지 없는 횡단열차6'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '오디움'){
                const options= ['성문으로 가는 길 1', '성문으로 가는 길 2', '성문으로 가는 길 3', '성문으로 가는 길 4', '성문으로 가는 길 5', '점령당한 골목 1', '점령당한 골목 2', '점령당한 골목 3', '점령당한 골목 4', '볕 드는 실험실 1', '볕 드는 실험실 2', '볕 드는 실험실 3', '잠긴 문 뒤 실험실 1', '잠긴 문 뒤 실험실 2', '잠긴 문 뒤 실험실 3', '잠긴 문 뒤 실험실 4'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '도원경'){
                const options= ['생기가 돌아오는 봄 1', '생기가 돌아오는 봄 2', '생기가 돌아오는 봄 3', '생기가 돌아오는 봄 4', '생기가 돌아오는 봄 5', '빛이 약한 여름 1', '빛이 약한 여름 2', '빛이 약한 여름 3', '빛이 약한 여름 4', '빛이 약한 여름 5', '색깔이 옅은 가을 1', '색깔이 옅은 가을 2', '색깔이 옅은 가을 3', '색깔이 옅은 가을 4', '색깔이 옅은 가을 5', '참혹한 흔적의 겨울 1', '참혹한 흔적의 겨울 2', '참혹한 흔적의 겨울 3', '참혹한 흔적의 겨울 4', '참혹한 흔적의 겨울 5'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '아르테리아'){
                const options=  ['북쪽 외곽지역', '외곽 전투지역 1', '서쪽 외곽지역', '남쪽 외곽지역', '외곽 전투지역 2', '동쪽 외곽지역', '최하층 통로 1', '최하층 통로 2', '최하층 통로 3', '최하층 통로 4', '최하층 통로 5', '최하층 통로 6', '최상층 통로 1', '최상층 통로 2', '최상층 통로 3', '최상층 통로 4', '최상층 통로 5', '최상층 통로 6', '최상층 통로 7', '최상층 통로 8'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            else if (map_region.value === '카르시온'){
                const options=  ['거대 산호 군락 1', '거대 산호 군락 2', '거대 산호 군락 3', '잔잔한 해안가 1', '잔잔한 해안가 2', '잔잔한 해안가 3', '휘감기는 숲 1', '휘감기는 숲 2', '휘감기는 숲 3', '어둠이 내리는 나무줄기 1', '어둠이 내리는 나무줄기 2', '어둠이 내리는 나무줄기 3', '숨이 멎어드는 동굴 1', '숨이 멎어드는 동굴 2', '숨이 멎어드는 동굴 3', '숨이 멎어드는 동굴 4', '가라앉은 유적지 1', '가라앉은 유적지 2', '가라앉은 유적지 3', '가라앉은 유적지 4'];
                options.forEach(option => {
                    const opt = document.createElement('option');
                    opt.value = option;
                    opt.textContent = option;
                    map_name.appendChild(opt);
                })
            }
            map_name.disabled=false;
        }
        function submitCharactername(){
            let selectedItems=[];
            const characterName=document.getElementById('nameInput').value;
            const isChecked = document.getElementById('combatOrders').checked ? 1 : 0;
            if(characterName){
                selectedItems.push(`characterName=${characterName}`);
            }
            if(isChecked){
                selectedItems.push(`combat_flag=${isChecked}`);
            }
            const queryString=selectedItems.join('&')
            if (characterName){
                fetch(`/initialize/?${queryString}`)
                    .then(response => response.json())
                    .then(data =>{
                        if (data[0].length===3){
                            console.log(data[0][2].length)
                            if(data[0][2].length===0){
                                localStorage.setItem('guild_doping', JSON.stringify(data[0][0]))
                                localStorage.setItem('spec_final', JSON.stringify(data[0][1]))
                                localStorage.setItem('time', data[1])
                                if(localStorage.getItem("spec_w_doping")!==null){
                                    localStorage.removeItem("spec_w_doping");
                                    document.getElementById('dopingcheck').checked=false;
                                }
                                alert('데이터 불러오기가 완료되었습니다.')
                                document.getElementById('nameInput').value="";
                                update_spec()
                                const old = document.getElementById('old');
                                const fd = document.getElementById('fd');
                                old.innerHTML='';
                                fd.innerHTML='';
                            }
                            else{
                                alert(data[0][2])
                            }
                        }
                        else{
                            console.error('expected 3 elements.')
                        }
                    })
                    .catch(error =>{
                        console.error('error:', error);
                    });
            }
            
        }
        function submitForm() {
            // 체크된 항목을 가져옵니다
            const mode = document.getElementById('mode').value
            const dopings = document.querySelectorAll('input[name="doping"]:checked');
            const skill_damage = document.getElementById('skill_damage').value
            const attack_count = document.getElementById('attack_count').value
            const hyper_damage = document.getElementById('hyper_damage').value
            const core_reinforce = document.getElementById('core_reinforce').value
            const core_ignore_monster_armor = document.getElementById('core_ignore_monster_armor').value
            const skill_ignore_monster_armor = document.getElementById('skill_ignore_monster_armor').value
            const skill_final_damage = document.getElementById('skill_final_damage').value
            const skill_normal_damage = document.getElementById('skill_normal_damage').value
            const force_type = document.getElementById('force_type').value
            const map_region = document.getElementById('map_region').value
            const map_name = document.getElementById('map_name').value
            const specFinal = localStorage.getItem('spec_final');
            const guild_doping = localStorage.getItem('guild_doping');
            let selectedItems = [];
            dopings.forEach((doping) => {
                selectedItems.push(`doping=${doping.value}`);
            });
            if (mode){
                selectedItems.push(`mode=${mode}`);
            }
            if (skill_damage){
                selectedItems.push(`dmg=${skill_damage}`);
            }
            if (attack_count){
                selectedItems.push(`attack_count=${attack_count}`);
            }
            if (hyper_damage){
                selectedItems.push(`hyper_damage=${hyper_damage}`);
            }
            if(core_reinforce){
                selectedItems.push(`core_reinforce=${core_reinforce}`);
            }
            if(core_ignore_monster_armor){
                selectedItems.push(`core_igm=${core_ignore_monster_armor}`);
            }
            if(skill_ignore_monster_armor){
                selectedItems.push(`skill_igm=${skill_ignore_monster_armor}`);
            }
            if(skill_final_damage){
                selectedItems.push(`skill_final_damage=${skill_final_damage}`);
            }
            if(skill_normal_damage){
                selectedItems.push(`skill_normal_damage=${skill_normal_damage}`);
            }
            if(force_type){
                selectedItems.push(`map_type=${force_type}`);
            }
            if(map_region){
                selectedItems.push(`map_region=${map_region}`);
            }
            if(map_name){
                selectedItems.push(`map_name=${map_name}`);
            }
            if(specFinal){
                selectedItems.push(`final=${specFinal}`);
            }
            if(guild_doping){
                selectedItems.push(`guild_doping=${guild_doping}`);
            }
            const queryString = selectedItems.join('&');
            // GET 요청을 보냅니다
            fetch(`/calculate/?${queryString}`)
                .then(response => response.json())
                .then(data => {
                    // 결과를 HTML에 표시합니다
                    const old = document.getElementById('old');
                    const fd = document.getElementById('fd');
                    const mob_hp = document.getElementById('hp');
                    old.innerHTML = '';
                    fd.innerHTML = '';
                    mob_hp.innerHTML = '';  // 기존 내용을 지웁니다
                    const p0 = document.createElement('p');
                    p0.textContent = data[0].toLocaleString('ko-KR');
                    old.appendChild(p0)
                    const p1 = document.createElement('p');
                    p1.textContent = data[1].toLocaleString('ko-KR');
                    fd.appendChild(p1)
                    const p2 = document.createElement('p');
                    p2.textContent = data[2].toLocaleString('ko-KR');
                    mob_hp.appendChild(p2)
                    localStorage.setItem('spec_w_doping', JSON.stringify(data[3]))
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    </script>

</body>
</html>