<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메이플 한줄뎀 계산기</title>
    <link rel="icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <!-- 캐릭터 이름 입력 섹션 -->
        <div class="card">
            <h2>
                캐릭터 정보 입력
                <div class="checkbox-right">
                    <label id="label-doping"> ※프리셋 0번은 현재 장착중인 장비를 의미합니다.</label>
                </div>
            </h2>
            <form>
                <div class="input--group">
                    <!-- 캐릭터 이름 입력 -->
                    <div class="amuguna">
                        <input type="text" id="nameInput" placeholder="캐릭터 이름을 입력하세요">
                        <div class="checkbox-group">
                            <input type="checkbox" id="combatOrders" name="combatOrders">
                            <label for="combatOrders">쓸컴뱃 사용 (사용 시 체크)</label>
                        </div>
                        <!-- 제출 버튼 -->
                        <button id="submit" class="submit" type="button" onclick="submitCharactername()">제출</button>
                    </div>
                    <!-- 숫자 버튼 그룹 -->
                    <div class="number-buttons">
                        <div class="button-row" id="row1">
                            <span class="row-label">장비 프리셋</span>
                            <button class="number-button selected" type="button" onclick="toggleButton(this, 'row1')">0</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row1')">1</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row1')">2</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row1')">3</button>
                        </div>

                        <div class="button-row" id="row2">
                            <span class="row-label">하이퍼 프리셋</span>
                            <button class="number-button selected" type="button" onclick="toggleButton(this, 'row2')">0</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row2')">1</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row2')">2</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row2')">3</button>
                        </div>

                        <div class="button-row" id="row3">
                            <span class="row-label">어빌리티 프리셋</span>
                            <button class="number-button selected" type="button" onclick="toggleButton(this, 'row3')">0</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row3')">1</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row3')">2</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row3')">3</button>
                        </div>

                        <div class="button-row" id="row4">
                            <span class="row-label">유니온 프리셋</span>
                            <button class="number-button selected" type="button" onclick="toggleButton(this, 'row4')">0</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row4')">1</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row4')">2</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row4')">3</button>
                        </div>

                        <div class="button-row" id="row5">
                            <span class="row-label">링크 프리셋</span>
                            <button class="number-button selected" type="button" onclick="toggleButton(this, 'row5')">0</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row5')">1</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row5')">2</button>
                            <button class="number-button" type="button" onclick="toggleButton(this, 'row5')">3</button>
                        </div>
                    </div>

                    

                </div>
            </form>
        </div>

        <!-- 현재 캐릭터 스펙 섹션 -->
        <div class="card">
            <h2>현재 캐릭터 스펙</h2>
            <label id="name"></label>
            <div class="container" id="data-container"></div>
            <label id="time"></label>
        </div>

        <!-- 도핑 선택 섹션 -->
        <div class="card">
    <h2>
        도핑 선택
        <div class="checkbox-right">
            <input type="checkbox" id="dopingcheck" name="dopingcheck" onchange="update_spec()">
            <label id="label-doping"> 도핑 적용된 스펙으로 보기 (사용시 체크)</label>
        </div>
    </h2>
    <form id="checkboxForm">
        <label><input type="checkbox" name="doping" value="길드의 이름으로"> 길드의 이름으로</label>
        <label><input type="checkbox" name="doping" value="크게 한방"> 크게 한방</label>
        <label><input type="checkbox" name="doping" value="향상된 10단계 힘의 물약"> 향상된 10단계 힘의 물약</label>
        <label><input type="checkbox" name="doping" value="향상된 10단계 민첩의 물약"> 향상된 10단계 민첩의 물약</label>
        <label><input type="checkbox" name="doping" value="향상된 10단계 지능의 물약"> 향상된 10단계 지능의 물약</label>
        <label><input type="checkbox" name="doping" value="향상된 10단계 행운의 물약"> 향상된 10단계 행운의 물약</label>
        <label><input type="checkbox" name="doping" value="와헌"> 와헌</label>
        <label><input type="checkbox" name="doping" value="찐어블"> 찐어블</label>
        <label><input type="checkbox" name="doping" value="찐샾"> 찐샾</label>
        <label><input type="checkbox" name="doping" value="쓸샾"> 쓸샾</label>
        <label><input type="checkbox" name="doping" value="영메"> 영메</label>
        <label><input type="checkbox" name="doping" value="유니온의 힘"> 유니온의 힘</label>
        <label><input type="checkbox" name="doping" value="mvp 슈퍼파워"> mvp 슈퍼파워</label>
        <label><input type="checkbox" name="doping" value="우뿌"> 우뿌</label>
        <label><input type="checkbox" name="doping" value="붕뿌"> 붕뿌</label>
        <label><input type="checkbox" name="doping" value="인기도 버프(250)"> 인기도 버프(250)</label>
        <label><input type="checkbox" name="doping" value="인기도 버프(275)"> 인기도 버프(275)</label>
        <label><input type="checkbox" name="doping" value="길축"> 길축</label>
        <label><input type="checkbox" name="doping" value="길더축"> 길더축</label>
        <label><input type="checkbox" name="doping" value="익스트림 레드"> 익스트림 레드</label>
        <label><input type="checkbox" name="doping" value="익스트림 블루"> 익스트림 블루</label>
        <label><input type="checkbox" name="doping" value="VIP 버프"> VIP 버프</label>
        <label><input type="checkbox" name="doping" value="아기 용의 이유식"> 아기 용의 이유식</label>
        <label><input type="checkbox" name="doping" value="무기 제련"> 무기 제련</label>
        <label><input type="checkbox" name="doping" value="고급 무기 제련"> 고급 무기 제련</label>
    </form>
</div>

        <!-- 맵 선택 섹션 -->
        <div class="card">
            <h2>맵 선택</h2>
            <form id="dropdownForm">
                <div class="dropdown-group">
                    <label for="force_type">포스 종류:</label>
                    <select id="force_type" name="force_type" onchange="update_map_region()">
                        <option value="arcane">아케인포스</option>
                        <option value="authentic">어센틱포스</option>
                    </select>
                </div>
                <div class="dropdown-group">
                    <label for="map_region">지역:</label>
                    <select id="map_region" name="map_region" onchange="update_map_name()">
                        <option value="소멸의 여로">소멸의 여로</option>
                        <option value="리버스 시티">리버스 시티</option>
                        <option value="츄츄 아일랜드">츄츄 아일랜드</option>
                        <option value="얌얌 아일랜드">얌얌 아일랜드</option>
                        <option value="레헬른">레헬른</option>
                        <option value="아르카나">아르카나</option>
                        <option value="모라스">모라스</option>
                        <option value="에스페라">에스페라</option>
                        <option value="셀라스">셀라스</option>
                        <option value="문브릿지">문브릿지</option>
                        <option value="고통의 미궁">고통의 미궁</option>
                        <option value="리멘">리멘</option>
                        <!-- 옵션이 동적으로 추가됩니다 -->
                    </select>
                </div>
                <div class="dropdown-group">
                    <label for="map_name">맵 이름:</label>
                    <select id="map_name" name="map_name">
                        <option value="풍화된 기쁨의 땅">풍화된 기쁨의 땅</option>
                        <option value="풍화된 기쁨과 분노의 땅">풍화된 기쁨과 분노의 땅</option>
                        <option value="풍화된 분노의 땅">풍화된 분노의 땅</option>
                        <option value="풍화된 분노와 슬픔의 땅">풍화된 분노와 슬픔의 땅</option>
                        <option value="풍화된 슬픔의 땅">풍화된 슬픔의 땅</option>
                        <option value="풍화된 슬픔과 즐거움의 땅">풍화된 슬픔과 즐거움의 땅</option>
                        <option value="풍화된 즐거움의 땅">풍화된 즐거움의 땅</option>
                        <option value="숨겨진 호숫가">숨겨진 호숫가</option>
                        <option value="암석의 영토">암석의 영토</option>
                        <option value="암석과 화염의 영토">암석과 화염의 영토</option>
                        <option value="화염의 영토">화염의 영토</option>
                        <option value="화염과 영혼의 영토">화염과 영혼의 영토</option>
                        <option value="영혼의 영토">영혼의 영토</option>
                        <option value="숨겨진 화염지대">숨겨진 화염지대</option>
                        <option value="세 갈래길1">세 갈래길1</option>
                        <option value="동굴의 서쪽길1">동굴의 서쪽길1</option>
                        <option value="동굴의 서쪽길2">동굴의 서쪽길2</option>
                        <option value="동굴의 동쪽길1">동굴의 동쪽길1</option>
                        <option value="동굴의 동쪽길2">동굴의 동쪽길2</option>
                        <option value="세 갈래길2">세 갈래길2</option>
                        <option value="동굴 위쪽">동굴 위쪽</option>
                        <option value="동굴 아래쪽">동굴 아래쪽</option>
                        <option value="동굴의 깊숙한 곳">동굴의 깊숙한 곳</option>
                        <option value="아르마의 은신처">아르마의 은신처</option>
                        <option value="숨겨진 동굴">숨겨진 동굴</option>
                        <!-- 옵션이 동적으로 추가됩니다 -->
                    </select>
                </div>
            </form>
        </div>

        <!-- 스킬 스펙 입력 섹션 -->
        <div class="card">
            <h2>
                스킬 스펙 입력 (모든 기본값은 0)
                <div class="checkbox-right">
                    <label id="label-doping">스킬 프리셋 적용 : </label>
                    <select id="skill_check" name="skill_check" onchange="update_skill()">
                        <option value="jikjup">직접 입력</option>
                        <option value="dawn">솔 야누스 : 새벽</option>
                        <option value="twilight">솔 야누스 : 황혼</option>
                        <option value="fountain">에르다 파운틴</option>
                    </select>
                </div>
            </h2>
            <form id="inputForm">
                <div class="input-group">
                    <label for="skill_damage">뎀퍼%p (패시브, 하이퍼 등 효과 포함):</label>
                    <input type="text" id="skill_damage" name="skill_damage" placeholder="예: 490">
                </div>
                <div class="input-group">
                    <label for="attack_count">공격 횟수 (하이퍼 포함):</label>
                    <input type="text" id="attack_count" name="attack_count" placeholder="예: 3">
                </div>
                <div class="input-group">
                    <label for="hyper_damage">스킬 데미지 증가(%):</label>
                    <input type="text" id="hyper_damage" name="hyper_damage" placeholder="예: 70">
                </div>
                <div class="input-group">
                    <label for="core_reinforce">코어 강화:</label>
                    <input type="text" id="core_reinforce" name="core_reinforce" placeholder="예: 120">
                </div>
                <div class="input-group">
                    <label for="core_ignore_monster_armor">코강 방무:</label>
                    <input type="text" id="core_ignore_monster_armor" name="core_ignore_monster_armor" placeholder="예: 20">
                </div>
                <div class="input-group">
                    <label for="skill_ignore_monster_armor">스킬 방무:</label>
                    <input type="text" id="skill_ignore_monster_armor" name="skill_ignore_monster_armor" placeholder="예: 20">
                </div>
                <div class="input-group">
                    <label for="skill_final_damage">스킬 최종뎀 (ex 쉐파 70):</label>
                    <input type="text" id="skill_final_damage" name="skill_final_damage" placeholder="예: 70">
                </div>
                <div class="input-group">
                    <label for="skill_normal_damage">스킬 일몹뎀 (ex 솔야누스 만렙 30):</label>
                    <input type="text" id="skill_normal_damage" name="skill_normal_damage" placeholder="예: 30">
                </div>
            </form>
            <button id= "submit" type="button" onclick="submitForm()">제출</button>
        </div>


        <!-- 결과 표시 섹션 -->
        <div class="card">
            <form id="headerForm">
                <label>스공:</label>
                <p id="sugong"></p>
                <label>한줄뎀:</label>
                <p id="old"></p>
                <label>전체 데미지:</label>
                <p id="fd"></p>
                <label>몹 체력:</label>
                <p id="hp"></p>
            </form>
        </div>
    </div>

    <!-- 푸터 -->
    <div class="footer">
        <p>이메일: maplecalculatorr@gmail.com</p>
        <p>Data based on NEXON Open API</p>
    </div>

    <script src = "/static/scripts.js">    
    </script>
</body>
</html>
